NODE_ENV=development
PORT=3000

POSTGRES_USER=hris_user
POSTGRES_PASSWORD=hris_password
POSTGRES_DB=pesantren_hris
POSTGRES_PORT=5432
DATABASE_URL=postgresql://hris_user:hris_password@localhost:5432/pesantren_hris?schema=public

JWT_ACCESS_SECRET=change-me-access-secret-at-least-32-characters
JWT_REFRESH_SECRET=change-me-refresh-secret-at-least-32-characters
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
